body{
    background: #F9F5EB;
    margin: 0;
    padding: 0;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 100px;
    height: 100px;
    top: 60px;
    left: 40px;
    right: 40px;
}

.entrada{
    position: absolute;
    width: 680px;
    height: 288px;
    left: 240px;
    top: 168px;
    padding: 10px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    background: none;
    border: none;

    color: #0A3871;
}

.salida{
    position: absolute;
    width: 600px;
    height: 830px;
    left: 1100px;
    top: 40px;

    background: white;

    box-shadow: 0px 24px 32px -8px rgba(228, 220, 207, 1);
    border-radius: 32px;
}

.salida-texto{
    position: absolute;
    width: 540px;
    height: 670px;
    left: 30px;
    top: 30px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;

    color: rgb(97, 97, 97);

    border: none;
    background: none;
}

.salida-texto:active{
    border: none;
}

.boton-copiar{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    position: absolute;
    top: 730px;
    left: 130px;
    width: 336px;
    height: 67px;

    border: none;
    border-radius: 24px;
    justify-content: center;

    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: white;
    text-align: center;
    background: #EA5455;
}

.boton-copiar:hover{
    transition: all .4s;
    transform: scale(1.05) rotate(1deg);
    cursor: pointer;
    background-color: #EA5455;
    font-weight: bold;
    color: white;
    border: none;
    box-shadow: 0px 0px 20px 8px #E4DCCF;
}

.boton-copiar:active{
    background: #bb4141;
}

.uso-caract{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    position: absolute;
    width: 300px;
    height: 18px;
    left: 240px;
    top: 750px;
    background-color: none;
    
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: rgb(97, 97, 97);
}

.botones-encr-descr{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 230px;
    top: 780px;
    background: none; 

}

.botones-action{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #00418b;
    border: 1px solid #0A3871;
    border-radius: 24px;

    color: white;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;

    justify-content: center;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.botones-action:hover{
    transition: all .4s;
    transform: scale(1.1);
    background-color: #2b8aff;
    font-weight: bold;
    border: none;
    box-shadow: 0px 0px 10px 3px #2b8aff;
}
.botones-action:active{
    background: blue;
}

.botones-action2{
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 328px;
    height: 67px;

    background: #E4DCCF;
    border: none;
    border-radius: 24px;

    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;

    justify-content: center;
    vertical-align: middle;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botones-action2:hover{
    transition: all .4s;
    transform: scale(1.1);
    background: rgb(3, 184, 3);
    color: white;
    font-weight: bold;
    border: none;
    
}

.botones-action2:active{
    background: rgb(3, 124, 3);
}

footer{
    padding: 15px 0 0 0;
    position: relative;
    width: 100%;
    height: 12%;
    top: 930px;
    background: #E4DCCF;
    text-align: center;

    font-family: 'Quicksand', sans-serif;
    font-style: italic;
    font-weight: 700;
}

footer div img{
    width: 50px;
    height: 50px;
    padding: 0px 10px 10px 10px;
}

footer a img:hover{
    transition: all .5s;
    transform: scale(1.4) rotate(360deg) ;
}
